.chart-container
  display: block
  position: relative
  height: 300px
  width: 0px
  margin: 0 auto

.results-chart
  position: absolute
  display: block
  top: 0
  left: 0
  transform: translate3d(-50%, 0, 0)
